/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

h1{

  display: flex;
  color: saddlebrown;
  font-size: 160px;
  font-weight: 100px;
  text-align: center;
  font-family: 'Triforce', serif;
  letter-spacing: 5px;
}

h3{

  display: flex;
  color: burlywood;
  font-size: 50px;
  font-weight: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.img_rct{
  width:90%;
  height: 90%;
  max-width: 800px;
  max-height: 500px;
}

body {
  font-family: "Montserrat Alternates" ;
  font-size: 17px;
}

text {
  display: "flex";
  flex-direction: "row";
  gap: 2px;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:chocolate;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat';
}

.custom-button:hover {
  background-color: red;
  font-family: 'Montserrat';
}
